
main.dark{
    --text-color : white;
    --bg-color : rgb(23,22,22);
    --bs-box-shadow-lg: 0 1rem 3rem #ffffff2d;
    --bs-box-shadow: 0 .5rem 1rem #ffffff33;
    --bs-card-color2: white;
}
header.dark{
    --text-color : white;
    --bg-color : rgb(30, 22, 40);
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
main, header{
    color: var(--text-color);
    background-color: var(--bg-color);
}
main{
    min-height: 100vh;
    padding: 24px;    
}

a{
    color: var(--text-color);
}
.bg-color{
    background-color: var(--bg-color);
}
.text-color{
    color: var(--text-color);
}
.card-body{
    background-color: var(--bg-color);
    color: var(--bs-card-color2);
}
.cursor{
    cursor: pointer;
}
.cursor:hover{
    
    box-shadow:var(--bs-box-shadow) ;
}

input::placeholder{
    color: var(--text-color);
}
@media (max-width:576px) {
    .filter-region-field, .search-input{
    font-size: 14px !important;
    padding-inline: 0 !important;
    }
    .search-input{
        padding-left: 25px !important;
    }
    .icon{
        font-size: 14px !important;
    }

    .heading, .theme-icon{
        font-size: 18px !important;
    }
    .theme-icon + span{
        display: none;
    }
}