.shimmer-card{
    position: relative;
    overflow: hidden;
}
.shimmer-card::after{
content: '';
position: absolute;
top:0% ;
left: 0;
width: 350%;
background-color:#ccc;
border: 3px solid rgb(231, 226, 226);
filter: brightness(110%);
height: 20px;
transform: translate(-50%,-50%);
rotate: -50deg;
animation: shimmer-effect 1.5s ease infinite ;
}

@keyframes shimmer-effect {
 to{
    top: 200%;
 }   
}